@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background-repeat: no-repeat;
  word-break: keep-all;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

main {
  width: 1280px;
  margin: 0 auto;
  padding: 100px 0;
  border-bottom: 1px solid #d3d3d3;
}

h1 {
  font-size: 60px;
  color: rgb(63, 63, 63);
}

h2 {
  margin-top: 150px;
}

h3 {
  margin-top: 40px;
  color: #707070;
}

.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.link {
  width: 300px;
  border-radius: 10px;
  transition: .2s;
}

.link:hover {
  background-color: #f0f0f0;
}

.link a {
  display: flex;
  align-items: baseline;
  color: #000;
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 15px;
  border-radius: 10px;
}

.link a img {
  width: 16px;
  height: 16px;
}

.txt {
  margin-left: 10px;
  position: relative;
  overflow: hidden;
}

.txt>div {
  color: #707070;
  font-weight: 600;
  font-size: 14px;
  margin-top: 5px;
  white-space: nowrap;
}



footer {
  padding: 50px 0;
}

footer h3 {
  font-size: 45px;
  color: #c2c2c2;
  text-align: center;
  margin-top: 0;
}

.swiper {
  /* outline: 1px solid black; */
  width: 100%;
  height: 390px;
  margin-top: 150px;
  margin-top: 20px;
}



.swiper-slide {
  height: 370px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, .05);
}

.swiper-slide>a {
  background: linear-gradient(to right, rgb(61, 177, 237, .5), rgb(3, 199, 90, .5));
  display: block;
}

#shazam>a {
  background: rgb(0, 187, 255, .7);
}

.swiper-slide img {
  width: 100%;
  transition: .4s;
}

.swiper-slide img:hover {
  transform: scale(1.2);
}

.info {
  text-align: left;
  padding: 10px 20px;
}

.info a {
  color: #333;
  font-weight: 700;
  transition: .2s;
}

.info a:hover {
  color: dodgerblue;
}

.info p {
  color: #797979;
  font-weight: 500;
  margin-top: 20px;
  font-size: 14px;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}