@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background-repeat: no-repeat;
  word-break: keep-all;
}

html,
body {
  position: relative;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to top, transparent,#d4fcfe,#cefdff) fixed;
}

.swiper {
  width: 100%;
  height: 100%;
  background: transparent;
}

.swiper-slide h1 {
  font-family: 'Rubik Mono One', sans-serif;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%) skew(-10deg, 0);
  transform: translate(-50%, -50%) skew(-10deg, 0);
  top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
  font-size: 12rem;
  font-weight: 400;
  white-space: nowrap;
  color: dodgerblue;
  letter-spacing: 2vw;
  z-index: 1;
}

.swiper-slide h1::after, 
.swiper-slide h1::before {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: attr(data-heading);
  position: absolute;
}
.swiper-slide h1::after {
  left: -10px;
  top: -10px;
  z-index: 2;
  -webkit-text-stroke: 3px rgb(254, 206, 53);
  -webkit-text-fill-color: transparent;
}

.swiper-slide h1::before {
  z-index: -1;
  left: 10px;
  top: 10px;
  color: rgb(30, 144, 255, .4);
}

.swiper-slide h1:hover::after {
  left: -20px;
  top: -20px;
}

.swiper-slide h1:hover::before {
  left: 20px;
  top: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  /* Center slide text horizontal */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  border: 2px solid rgb(254, 206, 53);
  border-radius: 8px;
}

.info h2 {
  font-size: 5rem;
}

.info span {
  font-size: 9rem;
}

.info h3 {
  font-size: 4rem;
  font-weight: 700;
}

#work,
#work2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-pagination-bullet {
  font-weight: 600;
  width: 200px;
  height: 50px;
  border-radius: unset;
  text-align: center;
  line-height: 50px;
  font-size: 2rem;
  color: dodgerblue;
  background: transparent;
  position: relative;
  transition: all .3s;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  bottom: 50px;
}

.swiper-pagination-bullet:hover {
  font-weight: 800;
  opacity: 1;
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #333333;
  z-index: 99;
}

.swiper-pagination-bullet:hover::before {
  left: 100%;
}

.swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 100%;
  margin-top: -2px;
  left: 100%;
  width: 100%;
  height: 4px;
  background: rgb(254, 206, 53);
  transition: all .3s;
}

.swiper-pagination-bullet:hover::after {
  left: 0%;
}

.swiper-pagination-bullet-active {
  font-size: 2.2rem;
  font-weight: 800;
  color: dodgerblue;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
  right: 0;
  top: 0;
  transform: translate3d(0px, 0%, 0px);
}

/* .swiper-container-vertical>.swiper-pagination-bullets {
  right: 0;
  top: 30px;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
} */
