@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.swiper-pagination-bullet {
    font-weight: 600;
    width: 200px;
    height: 50px;
    border-radius: unset;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
    color: dodgerblue;
    background: transparent;
    position: relative;
    transition: all .3s;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    bottom: 10px;
  }
  
  .swiper-pagination-bullet:hover {
    font-weight: 800;
    opacity: 1;
  }
  
  .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #333333;
    z-index: 99;
  }
  
  .swiper-pagination-bullet:hover::before {
    left: 100%;
  }
  
  .swiper-pagination-bullet::after {
    content: "";
    position: absolute;
    top: 100%;
    margin-top: -2px;
    left: 100%;
    width: 100%;
    height: 4px;
    background: rgb(254, 206, 53);
    transition: all .3s;
  }
  
  .swiper-pagination-bullet:hover::after {
    left: 0%;
  }
  
  .swiper-pagination-bullet-active {
    font-size: 2.2rem;
    font-weight: 800;
    color: dodgerblue;
  }
  
  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical>.swiper-pagination-bullets {
    right: 0;
    top: 0;
    transform: translate3d(0px, 0%, 0px);
  }
  
  /* .swiper-container-vertical>.swiper-pagination-bullets {
    right: 0;
    top: 30px;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  } */